* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #edeef0
;
}

header
{
    background-color: #507299;
    color: white;
    font-size: 25px;
    padding: 10px;
    font-family: "Arial";
    height: 50px;
}

.logo {
    margin-left: 200px;
}

.flex-container
{
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    flex:1;
    column-gap: 50px;
    margin-top: 20px;
}

.block:nth-child(1)
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 250px;
    font-family: "Arial";
    padding: 20px;
}

.block:nth-child(1) a
{
    color: #2e5473;
}

.block:nth-child(1) a:hover
{
	margin-right: 10px;
	border-radius: 15px;
	background-color: #b5c9da;
}


.block:nth-child(2)
{
    font-size: 20px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap:20px;
    flex-shrink: 0;
    flex-grow: 0;
}

.block:nth-child(3)
{
    font-size: 20px;
    max-width: 400px;
    margin: 30px;
    flex-shrink: 0;
    flex-grow: 0;
}
.sheet {
    box-sizing: border-box;
    max-width: 600px;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: justify;
    font-family: "Arial";
    flex: 2;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #e1e5eb;

}
.reaction
{
    display: flex;
    justify-content: space-between;
    color:#2e5473;  
}

.line 
{
    width: auto;
    height: 3px;
    background-color: #e1e5eb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sheet-photo
{
    max-width: 100%;
    height: auto;
}

::selection
{
	background-color:#9e9d9d;
	color: green
}

.right_post
{
	background-color: white;
	border-radius: 5px;
	padding: 15px 10px 15px 10px;
	margin-bottom: 20px;
	max-width: 200px;
}

.right_post_header
{
	background-color: white;
	font-weight: bold;
}

.right_post p
{
	background-color: #edeef0;
}

footer
{
	background-color: white;
	color: #808080;

	text-align: center;
	font-family: sans-serif;
    margin-bottom: 40px;
    padding: 5px;
}